Package: enigma2-skin-gregory-fhd
Priority: optional
Section: utils
Depends:
Description: Skin Gregory Fhd
Maintainer: greg
Source: http://github.com/GREG-0/home
Version: 2.0
Architecture: all
DestinationPath: /usr/share/enigma2/GREGORY_FHD_GOLD